<!-- Modal -->
<div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eduardo A. Cruz Junior</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-light">

                <div class="row mb-2">
                    <div class="col">
                        <label class="font-weight-bold">Whatsapp:</label> <br />
                        <label class="display-text p-2 w-100 rounded">(99) 99999-9999</label>
                    </div>
                    <div class="col">
                        <label class="font-weight-bold">CPF:</label> <br />
                        <label class="display-text p-2 w-100 rounded">999.999.999-99</label>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col">
                        <label class="font-weight-bold">Email:</label> <br />
                        <label class="display-text p-2 w-100 rounded">email@email.com</label>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col">
                        <label class="font-weight-bold">Nº Calçado:</label> <br />
                        <label class="display-text p-2 w-100 rounded">99</label>
                    </div>
                    <div class="col">
                        <label class="font-weight-bold">Nº Jeans:</label> <br />
                        <label class="display-text p-2 w-100 rounded">99</label>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col">
                        <label class="font-weight-bold">Data de nascimento:</label> <br />
                        <label class="display-text p-2 w-100 rounded">99/99/9999</label>
                    </div>
                    <div class="col">
                        <label class="font-weight-bold">Data de registro:</label> <br />
                        <label class="display-text p-2 w-100 rounded">99/99/9999</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label class="font-weight-bold">Endereços</label>
                    </div>
                </div>

                <div class="row">

                    <div class="col">
                        <label class="font-italic font-weight-bold">Casa:</label> <br />
                        <p>Rua clovis Avelar da silva, 111 - Paranavaí - PR | 87703-090 | Complemento</p>
                    </div>

                    <div class="col">
                        <label class="font-italic font-weight-bold">Trabalho:</label> <br />
                        <p>Rua clovis Avelar da silva, 111 - Paranavaí - PR | 87703-090 | Complemento</p>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"><fa-icon [icon]="faEdit " class="mr-2"></fa-icon>Editar</button>
            </div>
        </div>
    </div>
</div>