<!-- Modal -->
<div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{cliente.nome}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-light">

                <div class="row mb-2">
                    <div class="col">
                        <label class="font-weight-bold">Whatsapp:</label> <br />
                        <label
                            class="p-2 w-100 rounded bg-white">{{this.maskOperator.formatPhone(cliente.whatsapp)}}</label>
                    </div>
                    <div class="col">
                        <label class="font-weight-bold">CPF:</label> <br />
                        <label class="bg-white p-2 w-100 rounded">{{this.maskOperator.formatCpf(cliente.cpf)}}</label>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col">
                        <label class="font-weight-bold">Email:</label> <br />
                        <label class="bg-white p-2 w-100 rounded">{{cliente.email}}</label>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col">
                        <label class="font-weight-bold">Nº Calçado:</label> <br />
                        <label class="bg-white p-2 w-100 rounded">{{cliente.numeroCalcado}}</label>
                    </div>
                    <div class="col">
                        <label class="font-weight-bold">Nº Jeans:</label> <br />
                        <label class="bg-white p-2 w-100 rounded">{{cliente.numeroJeans}}</label>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col">
                        <label class="font-weight-bold">Data de nascimento:</label> <br />
                        <label class="bg-white p-2 w-100 rounded">{{dateOperator.printDate(cliente.nascimento)}}</label>
                    </div>
                    <div class="col">
                        <label class="font-weight-bold">Data de registro:</label> <br />
                        <label class="bg-white p-2 w-100 rounded">{{dateOperator.printDateTime(cliente.dataRegistro)}}</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label class="font-weight-bold">Endereços</label>
                    </div>
                </div>

                <div class="row">

                    <div class="col" *ngIf="cliente.enderecos && cliente.enderecos[0]">
                        <label class="font-italic font-weight-bold">Casa:</label> <br />
                        <p>{{this.enderecoOperator.print(cliente.enderecos[0])}}</p>
                    </div>

                    <div class="col" *ngIf="cliente.enderecos && cliente.enderecos[1]">
                        <label class="font-italic font-weight-bold">Trabalho:</label> <br />
                        <p>{{this.enderecoOperator.print(cliente.enderecos[1])}}</p>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary">
                    <fa-icon [icon]="faEdit " class="mr-2"></fa-icon>Editar
                </button>
            </div>
        </div>
    </div>
</div>